// *{
//     margin: 0;
//     padding: 0;
//     display: flexbox;

// }
// .footer{
//     background-color: rgb(2, 15, 26);
//     width: 100%;
//     height:100vh;
//     padding: 3em 0;
//     display: block;
// }
// .container {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }
// // @media (min-width: 1200px)
// // .container{
// //     max-width: 1140px;
// // }
// // @media (min-width: 992px)
// // .container {
// //     max-width: 960px;
// // }
// // @media (min-width: 768px)
// // .container {
// //     max-width: 720px;
// // }
// // @media (min-width: 576px)
// // .container {
// //     max-width: 540px;
// // }
// .row {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
// }

// .footer h2

// // element.style {
// // }
// // @media (min-width: 768px)
// // .col-md {
// //     -ms-flex-preferred-size: 0;
// //     flex-basis: 0;
// //     -webkit-box-flex: 1;
// //     -ms-flex-positive: 1;
// //     flex-grow: 1;
// //     max-width: 100%;
// // }
// .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
//     position: relative;
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
// }
// .row-1{
    
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -ms-flex-wrap: wrap;
//         flex-wrap: wrap;
//         margin-right: -15px;
//         margin-left: -15px;
//     }


#footer{
    background-image: linear-gradient(45deg, #45b1a6, #91bf8d);
  }
  .footer-container {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  [class^="footer-column"] {
    flex: 1;
    margin: 0 20px 18px;
  }
  [class^="footer-column"] p,
  [class^="footer-column"] a{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: monospace;
    letter-spacing: 1.5px;
    line-height: 20px;
  }
  
  .footer-column2 ul li {
    margin-bottom: 5px;
  }
  
  .footer-column2 ul li a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-weight: 700;
    padding-left: 5px;
  }
  
  .footer-column2 ul li a:hover {
    color: #015c55;
  }
  
  .footer-bottom {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
  }
  
  .footer-text {
    font-size: 15px;
    text-transform: uppercase;
    color: #015c55;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 1.5px;
  }
  
  .footer-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #015c55;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 1.5px;
    padding-bottom: 13px;
  }
  